{% extends "padre.html" %}
{% load static %}

{% block titulo %}Listado de Autores{% endblock titulo %}

{% block nav_bar %} {% endblock nav_bar %}

{% block header %} {% endblock header %}

{% block barra_busqueda %} {% endblock barra_busqueda %}

{% block contenido %}

<h4>Solicitaste ver los datos publicos registrados de:</h4>
<br><br>
<ul>
    <p>{{autor.nombre}} {{autor.apellido}}</p>
    <p>E-mail de contacto: {{autor.email}}</p>
    <p>Sitio WEB: {{autor.web}}</p>
</ul>

{% endblock contenido %}

{% block boton %} {% endblock boton %}

{% block footer %} {% endblock footer %}