{% extends "padre.html" %}
{% load static %}

{% block titulo %}Inicio de Sesión{% endblock titulo %}

{% block nav_bar %} {% endblock nav_bar %}

{% block header %} {% endblock header %}

{% block barra_busqueda %} {% endblock barra_busqueda %}

{% block contenido %}

  <div align="center">
    
    <form action="" method="POST">

      {% csrf_token %}
      <table> 
      {{ form.as_table }}
      </table>
      <br>
      <input type="submit" value="Iniciar Sesión">
    
    </form>
    <br>
    <button><a href="{% url 'Registro' %}">Registrarse</a></button>
  </div>
{% endblock contenido %}

{% block boton %} {% endblock boton %}

{% block footer %} {% endblock footer %}
