{% extends "padre.html" %}
{% load static %}

{% block titulo %}Volve pronto{% endblock titulo %}

{% block nav_bar %} {% endblock nav_bar %}

{% block header %} {% endblock header %}

{% block barra_busqueda %} {% endblock barra_busqueda %}

{% block contenido %}
    <div align="center">
        <h4>Esperamos que vuelvas a visitarnos</h4>
        <br>
        <button><a href="{% url 'Login' %}">Iniciar sesión nuevamente</a></button>
    </div>

{% endblock contenido %}

{% block boton %} {% endblock boton %}

{% block footer %} {% endblock footer %}
