{% extends 'padre.html' %}
{% load static %}


    {% block titulo %} Busqueda {% endblock titulo%}


{% block imagen_header %}{% static 'app_blog/assets/img/child.jpg' %}{% endblock imagen_header %}

{% block comment %}{{poste.imagen}}{% endblock comment %}


{% block titulos_secciones %} <h2> Estas buscando: </h2> {% endblock titulos_secciones %} 

{% block subtitulo %} <h3 font style="color:royalblue"> "{{query}}"</h3> {% endblock subtitulo %}

{% block contenido %}

{% if poste %}

<h5 font style="color:grey;font-family: Arial, Helvetica, sans-serif; text-align: left; margin-left: 30px;"> Posteos encontrados: {{poste|length}} </h5>
<br>
<br>   
    {% for post in poste %}
    
    <ul>
        <div>
            <h2>{{post.titulo | safe }}</h2>
            <h3>{{post.descripcion | safe }}</h3>
            <p font-style="color: gray; font-size: 10 px">{{post.autor | safe }}</p>
            <p font-size="12 px;">{{post.contenido | safe }}</p>
        </div>
    </ul>
    {% endfor %}

    {% else %}

    <p>No existe el posteo solicitado</p>

{% endif %}

{% endblock contenido%}

{% block boton %}
<div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase"href="{% url 'index' %}">Inicio</a></div> 
{% endblock boton %}