<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carga de posteos</title>
</head>

<body>

    <p>Estás buscando: <strong>{{query}} </strong> </p>
{% if poste%}

    <p>Posteos encontrados: {{poste|length}} </p>
    <ul>

        {% for post in poste %}
        <li>
            <p>Título {{post.titulo}}</p>
            <p>Descripción: {{post.descripcion}}</p>
            <p>{{post.contenido | safe }}</p>
            

            <a class="header__button" href="{% url 'index' %}">Volver al Inicio</a>
        </li>
        {% endfor %}
    </ul>
{% else %}
<p>No existe el posteo solicitado</p>
<a href="{% url 'index' %}">Volver al Inicio</a>

{% endif %}



</body>

</html>