{% extends 'padre.html' %}
{% load static %}


    {% block titulo %} Busqueda {% endblock titulo%}


{% block imagen_header %}

{{poste.imagen}}

{% endblock imagen_header %}

{% block titulos_secciones %} <p> Estas buscando: </p> {% endblock titulos_secciones %} 


{% block subtitulo %} 

<h2>  <strong> <font style="color:yellow"> {{query}} </strong> </h2>

{% endblock subtitulo %}


{% block contenido%}

{% if poste %}
<font style="color:black">
    <p> Posteos encontrados: {{poste|length}} </p>
    <ul>

        {% for post in poste %}
        <li>
            
        
            <p>{{ poste.descripcion | safe }}</p>
            
            <p>{{post.contenido | safe }}</p>
            
            

        </li>
        {% endfor %}
    </ul>
{% else %}
<p>No existe el posteo solicitado</p>

{% endif %}
{% endblock contenido%}

{% block boton %}
<div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="{% url 'index' %}">Inicio →</a></div> 
{% endblock boton %}


